* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 140rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container-bg {
  width: 80%;
  margin: 0 auto;
}

.container-md {
  width: 70%;
  margin: 0 auto;
}

.heading-primary {
  font-size: 9.6rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
