* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 140rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1;
}

.container-bg {
  width: 80%;
  margin: 0 auto;
}

.container-md {
  width: 70%;
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 400;
}

.heading-primary {
  font-size: 12.8rem;
  color: #fff;
  letter-spacing: 0.3rem;
}

.heading-secondary {
  font-size: 8rem;
  color: rgb(53, 53, 53);
  /* font-weight: 400;
  letter-spacing: 0.3rem; */
}

.text {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 4rem;
}
