/*******************************
            HEADER
********************************/

.main-header {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: flex-start;
  align-items: center;
  height: 10rem;
  padding: 0 6.4rem;
}

.logo-img {
  width: 50%;
}

.main-nav {
  grid-column: 2 / 7;
}

.nav-lists {
  display: flex;
  gap: 8.2rem;
  list-style: none;
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #787878;
  font-size: 2.4rem;
  padding: 0 5px;
  transition: all 0.3s;
}

.nav-list-link:hover,
.nav-list-link:active {
  color: #60206d;
}

.btn-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.ph-list-bold {
  font-size: 2.8rem;
  font-weight: bold;
}

.nav-form {
  grid-column: 12 / 13;
  color: #787878;
  display: flex;
  width: 20rem;
  padding: 0 1.5rem;
  border: 2px solid #d9c4de;
  display: flex;
  align-items: center;
}

.nav-search {
  border: none;
  background: transparent;
  margin: 0;
  padding: 9px;
  font-size: 14px;
}

.nav-search::placeholder {
  color: #60206d;
  text-transform: uppercase;
}

.btn-nav-form {
  width: 40px;
  border: none;
  background-color: transparent;
  color: #60206d;
  cursor: pointer;
  opacity: 0.7;
}

.section-hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.05)
    ),
    url(/images/hero-img.jpg);
  background-size: cover;
  background-position: center;
}

.hero-heading {
  padding-top: 35rem;
}

.flights {
  height: 100vh;
  background-color: #d9d9d9;
  position: relative;
}

.flights-text {
  text-align: center;
}

.flights-heading {
  margin-top: 8rem;
  margin-bottom: 4.8rem;
}

.flights-box {
  display: flex;
  flex-direction: column;
  gap: 12.8rem;
  justify-content: center;
  align-items: center;
}

.flights-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.flights-icon-box {
  position: relative;
}

.flights-icon {
  position: relative;
  display: block;
  width: 60%;
}

.flights-icon-copy {
  position: absolute;
  top: -1rem;
  left: 1rem;
}

.flights-theme {
  width: 100%;
  height: 20%;
  background-image: url("/images/theme.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  row-gap: 2.4rem;
  column-gap: 2.4rem;
}

.gallery-img {
  /* display: block; */
  width: 100%;
}
