/*******************************
            HEADER
********************************/

.main-header {
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: flex-start;
  align-items: center;
  height: 10rem;
  padding: 0 4.8rem;
}

.logo-img {
  width: 50%;
}

.main-nav {
  grid-column: 2 / 7;
}

.nav-lists {
  display: flex;
  gap: 8.2rem;
  list-style: none;
}

.nav-list-link {
  text-decoration: none;
  color: #787878;
  font-size: 2.4rem;
}

.btn-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.ph-list {
  font-size: 2.8rem;
  font-weight: bold;
}

.nav-form {
  grid-column: 12 / 13;
}
/* <header class="main-header">
      <div class="logo">
        <img src="/images/logo.png" alt="logo" />
      </div>
      <nav class="main-nav">
        <ul class="nav-lists">
          <li class="nav-list-item"><a href="#">Flights</a></li>
          <li class="nav-list-item"><a href="#">Hotels</a></li>
          <li class="nav-list-item"><a href="#">Guides</a></li>
          <li class="nav-list-item"><a href="#">Popular</a></li>
        </ul>
      </nav>
      <div class="mobile-nav"></div>
      <form action="#">
        <input type="search" name="search" id="search" />
      </form> */
