/*******************************
            HEADER
********************************/

.main-header {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: flex-start;
  align-items: center;
  height: 10rem;
  padding: 0 6.4rem;
}

.logo-img {
  width: 50%;
}

.main-nav {
  grid-column: 2 / 7;
}

.nav-lists {
  display: flex;
  gap: 8.2rem;
  list-style: none;
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  color: #787878;
  font-size: 2.4rem;
  padding: 0 5px;
  transition: all 0.3s;
}

.nav-list-link:hover,
.nav-list-link:active {
  color: #60206d;
}

.btn-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.ph-list-bold {
  font-size: 2.8rem;
  font-weight: bold;
}

.nav-form {
  grid-column: 12 / 13;
  color: #787878;
  display: flex;
  width: 20rem;
  padding: 0 1.5rem;
  border: 2px solid #d9c4de;
  display: flex;
  align-items: center;
}

.nav-search {
  border: none;
  background: transparent;
  margin: 0;
  padding: 9px;
  font-size: 14px;
}

.nav-search::placeholder {
  color: #60206d;
  text-transform: uppercase;
}

.btn-nav-form {
  width: 40px;
  border: none;
  background-color: transparent;
  color: #60206d;
  cursor: pointer;
  opacity: 0.7;
}
